@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;500&family=Concert+One&family=Newsreader&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}
/* MAin Code*/
.section-p1
{
    padding: 40px 80px;
    margin: 20px 0;

}
.section-m1
{
    margin: 40px 0;

}
button.normal
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.2s;

}
button.white
{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    border: 1px solid #fff;
    cursor: pointer;
    outline: none;
    transition: 0.2s;

}
body
{
    width: 100%;
}
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 20px 50px;
    background: #E3E6F3 ;
    box-shadow: 0 5px rgba(0, 0, 0,0.06);
    z-index:999 ;
    position: sticky;
    top: 0;
    left: 0;



}
#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}
#navbar li a
{
    text-decoration: none;
    font-size:16px ;
    font-weight: 600;
    color: #1a1a1a;
    transform: 0.3s ease;
}
/* Cart 
.cart1
{
    position: fixed;
    top: 0px;
    right: 0;
    width: 360px;
    min-height: 20px;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: 10px 10px 4px hsl(10% 10% 15%/10%);

}*/
/* hien mau khi di chuot toi navbar*/
#navbar li a:hover,
#navbar li a.active
{   
    color: #088178;
}
#navbar li a.active::after
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#gioithieu
{
    font-size: 30px;
    background-image:url("img/Conlai/hero4.png") ;
    height: 90vh;
    width: 100%;
    background-size:cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;


}
.upto
{
    font-size: 40px;
    color: red;
}
#gioithieu h4{
    padding-bottom: 15px;

}
#gioithieu h1{
   color: #088178; 
}
#gioithieu button{
    background-image: url(img/Conlai/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    
}
#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#feature .fe-box
{   
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 30px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    flex-wrap: wrap;


}
.feature .fe-box:hover
{
    box-shadow: 10px 10px 50px rgba(43, 66, 109, 0.005);
}
#feature .fe-box img
{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px ;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: antiquewhite;
}
#feature .fe-box:nth-child(2)  h6
{
    color: aqua;

}
#feature .fe-box:nth-child(3)  h6
{
    color: green;

}
#feature .fe-box:nth-child(4)  h6
{
    color: blueviolet;

}
#feature .fe-box:nth-child(5)  h6
{
    color:hotpink;

}
#feature .fe-box:nth-child(6)  h6
{
    color: royalblue;

}
#product1
{
    text-align: center;
    font-size: 30px;
    padding: 10px;
    

}
#product1 .pro-container1
{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-top: 20px;
}
#product1 .pro1
{   
    width: 30%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro1:hover
{
    padding: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0,0.02);
    transition: 0.5s;
}
#product1 .pro1 img
{
    width: 100%;
    border-radius: 20px;
    
}
#product1 .pro1 .des
{
    text-align: start;
    padding: 10px 0;

}
#product1 .pro1 .des span{
    color: rgb(50, 52, 134);
    font-size: 12px;

}
#gioithieu h2{
    color: #bb2d42;
}
#product1 .pro1 .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro1 .des i{
    font-size: 12px;
    color: rgb(238, 241, 19);
}
#product1 .pro1 .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;


}
#product1 .pro1 .cart
{
    width: 45px;
    height: 45px;
    color: #088178;
    line-height: 50px;
    border-radius: 50px;
    font-weight: 1200;
    font-size: 20px;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    position:absolute ;
    bottom: 20px;
    right: 10px;
}

.line
{
    text-decoration: none;
}
#banner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/Banner/b2.jpg);
    width: 100%;
    height:40vh;
    background-size: cover;
    background-position:center ;

}
#banner h4
{
    color: #e8f6ea;
    font-size: 16px;
     

}
#banner h2
{
    color: #e8f6ea;
    font-size: 20px;
    padding: 20px 0;
}
#banner h2 span{
    color: red;
    font-size: 40px;
}
#banner button:hover
{
    color: #088178;
    background-color:#cce7d0 ;
 
}
#ms-banner .banner-box
{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url(img/Banner/b17.jpg);
    min-width: 650px;
    height: 50vh;
    background-size:cover;
    background-position:center;
    padding: 30px;
}
#ms-banner .banner-box2
{
    background-image: url(img/Banner/b10.jpg);
}
#ms-banner
{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}


#ms-banner button:hover
{
    color: #088178;
    background-color:#cce7d0 ;
    border: 1px solid #088178;
 
}
#ms-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#ms-banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}
#ms-banner span{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}
#banner2
{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner2 .banner-box
{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url(img/Banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size:cover;
    background-position:center;
    padding: 30px;
    margin-bottom: 20px;
}
#banner2 .banner-box2
{
    background-image: url(img/Banner/b4.jpg);
}
#banner2 .banner-box3
{
    background-image: url(img/Banner/b18.jpg);
}

#banner2 h2
{
    color: rgb(217, 67, 67);
    font-weight: 800;
    font-size: 15px;
}
#newsletter
{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    background-image: url(img/Banner/b14.png);
    background-repeat: no-repeat;
    background-position: 30% 30%;
    background-color: #282830;
}
#newsletter h4{
    font-size: 20px;
    font-weight: 700;
    color: #818ea0;

}
#newsletter p span{
    
    color: #8b8f28;
    
}
#newsletter input
{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button
{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newsletter .form   
{
    display: flex;
    width: 40%;
    padding: 5px;
}
footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    

}
footer .logo
{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    text-decoration: none;
    font-size: 13px;
    color: #222;
    margin-bottom: 10px;
}
footer .follow
{
    margin-top: 20px;
}
footer .follow i
{
    color: #8b8f28;
    padding-right: 4px;
    cursor: pointer;

}
footer .install .row img
{
    border: 1px solid #088178;
    border-radius: 6px;

}
footer .install img{
    margin: 10px 0  15px 0 ;

}

footer .follow i :hover, footer a:hover
{
    color: #088178;
}
/*Shop page code*/
#page-header
{
    background-image: url(img/Banner/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
#page-header1
{
    background-image: url(img/Banner/b1.jpg);
    width: 100%;
    height: 10vh;
    
}
#page-header h2{
    font-size: 100px;
    color: #cce7d0;
}
#page-header p
{
    font-size: 30px;
    color: #818ea0;
}
#page-header .upto
{
    font-size: 60px;
    color: red;
}

#pagination
{
    text-align: center;
    
    
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 15px;
    font-weight: 600;
}
/*form product*/
#prodetails
{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-img
{
    width: 45%;
    margin-right: 50px;
}
.small-img-group
{
    display: flex;
    justify-content: space-between;
   
}
.small-img-col
{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-text
{
    width: 50%;
    padding-top: 30px;

}
#prodetails .single-pro-text h4
{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-text h3
{
    font-size: 25px;
}
#prodetails .single-pro-text select
{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}
#prodetails .single-pro-text input
{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    text-align: center;
}
#prodetails .single-pro-text input:focus
{
    outline: none;
}
#prodetails .single-pro-text button
{
    background-color: #088178;
    color: #fff;
}

/*icon CSS*/
.list-cart
{
    justify-content: center;
}
.cart-page
{
    margin: 80px auto;
}
table
{
    width: 100%;
    border-collapse: collapse;
}
.list-cart th{
    text-align: left;
    padding: 5px;
    color:#fff;
    background: #088178;
    font-weight: normal;
}

.cart-info
{
    display: flex;
    flex-wrap: wrap;
}
.cart-info a
{
    color: red;
    text-decoration: none;
}
.list-cart td{
    padding: 10px 4px;
}
td input
{
    width: 50px;
    height: 30px;
    padding: 5px;
}

td img
{
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

.total-bill
{
    display: flex;
    justify-content: flex-end;
}
.total-bill table
{
    border-top: 3px solid #000;
    width: 100%;
    max-width: 600px;
}
.total-bill table td
{
    padding: 5px;
    word-spacing: 400px;
}

button .paynow
{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background: #088178;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    
}
button a{
    text-decoration: none;
    
}
.paynow a:hover,
.paynow .paynow.active
{   
    color: #088178;
}
/* Media Code*/
