html
{
    font-style: 65%;
    font-family: "Poppins",sans-serif;

}
*
{
    box-sizing: border-box;

}
body
{
    width: 100%;
    min-height: 100vh;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;


}
.login
{
    padding: 90px 75px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;

}
.login-signup
{
    color: #4c6ff4;
    text-decoration: none;
}

.login-label
{
    font-size: 10px;
    color: #737941;
    margin-bottom:10px ;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}
.login-input
{
    display: block;
    width: 100%;
    padding: 20px;
    border-radius:20px ;
    background-color: #f2f3f5;
    outline: none;
    border: 0;
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    margin-bottom: 30px;
}
.login-submit
{
    padding: 25px;
    color:white;
    font-size: 18px;
    text-align: center;
    border: 0;
    outline: none;
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(138, 205, 43);
    font-family: "Poppins",sans-serif;
    cursor: pointer;
    font-weight: 600;
    box-shadow:0 5px 10px 0  rgba(130,201 , 30, 0.5);
    margin-top: 25px;
    margin-bottom: 15px;
    text-decoration: none;


}
.login-already
{
    text-align: center;
    font-size: 16px;
    color: #999;

}
.line1
{
    text-decoration: none;
}